<section class="main">
  <app-title title="Dashboard" subtitle="geral"></app-title>
  <div class="cards-main">
    <app-cards *ngFor="let item of cards" [title]="item.title" [value]="item.value" [type]="item.type"></app-cards>
  </div>
  <div class="highchart">
    <div class="col-7">
      <app-highcharts *ngIf="EVOLUCAO_DATA" [evolucao]="EVOLUCAO_DATA"></app-highcharts>
    </div>
    <div class="col-4">
      <app-list-registers *ngFor="let item of ELEMENT_DATA" [item]="item">
      </app-list-registers>
    </div>
  </div>
</section>