<div class="registers">
  <app-title title="Registros" subtitle="cadastro"></app-title>
  <app-tabs style="display: block; margin: 15px 0;">
    <app-tab-header style="display: flex;">
      <app-tab-menu label="Listar" icon="list" target="read"></app-tab-menu>
      <app-tab-menu label="Incluir" icon="create" target="create"></app-tab-menu>
      <app-tab-menu label="Alterar" icon="change_circle" target="update"></app-tab-menu>
      <app-tab-menu label="Deletar" icon="delete" target="delete"></app-tab-menu>
    </app-tab-header>
    <app-tab-content style="display: block; margin: 15px 0; height: 100%;">
      <div *ngIf="tab === 'read'" read>
        <div *ngIf="!isMobile" class="container-cards">
          <mat-card class="cards" *ngFor="let item of ELEMENT_DATA"
            [ngStyle]="{'border-left': item.type == 'outcoming' ? '1px solid var(--text-accent)' : '1px solid var(--text-green)'}">
            <div class="itens date">
              <strong>Data:</strong>
              <span>{{item.created_at | date:'dd/MM/yyyy'}}</span>
            </div>
            <div class="itens description">
              <strong>Descrição:</strong>
              <span>{{item.description}}</span>
            </div>
            <div class="itens value">
              <strong>Valor:</strong>
              <span [ngStyle]="{'color': item.type == 'outcoming' ? 'var(--text-accent)' : 'var(--text-green)'}">
                R$ {{formatarValor(item.value) }}
              </span>
            </div>
            <div class="itens category">
              <strong>Categoria:</strong>
              <span>{{item.category}}</span>
            </div>
            <div class="itens actions">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
            </div>
            <mat-menu #menu="matMenu" overlapTrigger="true">
              <button (click)="edit($event, item)" mat-menu-item>
                <mat-icon style="color: #323232">edit</mat-icon>
                <span style="font-weight: 500">EDITAR</span>
              </button>

              <button (click)="del($event, item)" mat-menu-item>
                <mat-icon style="color:black;" class="icon-mat-menu">delete</mat-icon>
                <span style="font-weight: 500">DELETAR</span>
              </button>
            </mat-menu>
          </mat-card>
        </div>

        <!-- novo layout pra mobile -->
        <ul *ngIf="isMobile" class="container-cards-mobile">
          <mat-card class="cards" *ngFor="let item of ELEMENT_DATA"
            [ngStyle]="{'border-left': item.type == 'outcoming' ? '1px solid var(--text-accent)' : '1px solid var(--text-green)'}">

            <li class="line">
              <p class="value">
                <strong>Valor:</strong>
                <span [ngStyle]="{'color': item.type == 'outcoming' ? 'var(--text-accent)' : 'var(--text-green)'}">
                  R$ {{formatarValor(item.value) }}
                </span>
              </p>

              <p class="date">
                <strong>Data:</strong>
                <span>{{item.created_at | date:'dd/MM/yyyy'}}</span>
              </p>

              <p class="menu">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
              </p>
            </li>

            <mat-menu #menu="matMenu" overlapTrigger="true">
              <button (click)="edit($event, item)" mat-menu-item>
                <mat-icon style="color: #323232">edit</mat-icon>
                <span style="font-weight: 500">EDITAR</span>
              </button>

              <button (click)="del($event, item)" mat-menu-item>
                <mat-icon style="color:black;" class="icon-mat-menu">delete</mat-icon>
                <span style="font-weight: 500">DELETAR</span>
              </button>
            </mat-menu>
          </mat-card>
        </ul>

        <!-- <div *ngIf="ELEMENT_DATA.length > 0; else noneOfExtracts" class="histories">
          <table mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
              <td mat-cell *matCellDef="let element"> <span>{{element.position}}</span> </td>
            </ng-container>

            <ng-container matColumnDef="category">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Categoria </th>
              <td mat-cell *matCellDef="let element"> <span>{{element.category}}</span> </td>
            </ng-container>

            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Descrição </th>
              <td mat-cell *matCellDef="let element"> <span>{{element.description}}</span> </td>
            </ng-container>

            <ng-container matColumnDef="value">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor </th>
              <td mat-cell *matCellDef="let element"> <span>R$ {{ formatarValor(element.value) }}</span> </td>
            </ng-container>

            <ng-container matColumnDef="created_at">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Data </th>
              <td mat-cell *matCellDef="let element"> <span>{{element.created_at | date:'dd/MM/yyyy'}}</span> </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th style="display: none;" mat-header-cell *matHeaderCellDef></th>
              <td class="table-delete-icon bg-mode-custom" mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="edit($event, element)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button (click)="del($event, element)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr (click)="openDetails($event, row)"
              [ngClass]="{'outcoming': (row.type === 'outcoming'), 'pending': (row.status === 'pending') }" mat-row
              *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div> -->

        <ng-template #noneOfExtracts>
          <ng-container *ngFor="let i of [0,1,2,3,4,5,6,7]"><br></ng-container>
          <h2 class="welcome-subtitle">Não há registros</h2>
        </ng-template>
      </div>

      <mat-card *ngIf="tab === 'create'" class="create" create>
        <div class="form-group">
          <app-title title="Receita"></app-title>
          <app-form-incoming (send)="listeningEventForm($event)" [type]="'incoming'" [label]="'Entrada'"
            [placeholder]="'R$ 0,00'"></app-form-incoming>
        </div>
        <div class="form-group">
          <app-title title="Despesa"></app-title>
          <app-form-incoming (send)="listeningEventForm($event)" [type]="'outcoming'" [label]="'Saída'"
            [placeholder]="'R$ 0,00'"></app-form-incoming>
        </div>
      </mat-card>

      <div *ngIf="tab === 'update'" update>atualizar</div>
      <div *ngIf="tab === 'delete'" delete>deletar</div>
    </app-tab-content>
  </app-tabs>
</div>