@import "../../../../styles.scss";

.registers {
  .control {
    display: flex;
    align-items: center;
    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
      padding: 12px;
    }
    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
      padding: 0;
    }
    ::ng-deep .mat-form-field-wrapper {
      padding-bottom: 0;
    }
    ::ng-deep .mat-form-field-infix {
      border-top: 0;
    }
    ::ng-deep .mat-input-element {
      font-size: 14px;
      height: 20px;
    }
    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
      padding: 0px;
    }
    ::ng-deep .mat-select-arrow-wrapper {
      display: block;
    }
    ::ng-deep .mat-select-placeholder {
      font-size: 14px;
    }
    ::ng-deep .mat-select-trigger {
      font-size: 14px;
    }
  }
  .control .form {
    max-width: 150px;
    margin-left: 8px;
  }
  .control.forms {
    justify-content: center;
  }
  .container-cards {
    .cards {
      display: flex;
      margin: 8px 0;
      align-items: center;
    }
    .value,
    .category,
    .data,
    .description {
      width: 25%;
    }
    .value {
      max-width: 120px;
    }
    .category {
      max-width: 120px;
    }
    .date {
      max-width: 120px;
    }
    .actions {
      max-width: 30px;
    }
    .itens {
      width: 100%;
      display: flex;
      flex-direction: column;
      span {
        font-size: 14px;
      }
      strong {
        font-size: 12px;
        font-weight: 100;
      }
    }
  }
  .create {
    display: flex;
    justify-content: space-between;
  }
  .container-cards-mobile {
    mat-card {
      margin: 8px 0;
    }
    strong {
      font-weight: 100;
    }
    .line {
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        font-size: 14px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
      }
      p.menu {
        width: 30px;
      }
      p.value {
        flex: 1;
      }
    }
  }

  .content-detail {
    display: flex;
    .col {
      flex: 1;
    }
  }
  .panel-header {
    display: flex;
    align-items: center;
    position: relative;
    padding: 16px;
    .container-valores {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex: 1;
      flex-wrap: wrap;
    }
    .container-buttons {
      display: flex;
      justify-content: flex-end;
    }
  }
  .progress {
    height: 1px;
    position: relative;
    transition: all 0.3s;
    background-color: var(--text-green);
    width: 100%;
    .encapsulate {
      background-color: var(--text-accent);
      height: 1px;
    }
  }
}
.control.mobile {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: transparent;
  }
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
    padding: 12px;
  }
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0;
  }
  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0;
  }
  ::ng-deep .mat-form-field-infix {
    border-top: 0;
  }
  ::ng-deep .mat-input-element {
    font-size: 14px;
    height: 20px;
  }
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0px;
  }
  ::ng-deep .mat-select-arrow-wrapper {
    display: block;
  }
  ::ng-deep .mat-select-placeholder {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .registers .create {
    flex-direction: column;
  }
  .btn-classificar {
    margin: 8px 0;
    width: 140px;
  }
}
