<div class="registers">
  <app-title title="Registros" [subtitle]="total"></app-title>
  <app-tabs style="display: block; margin: 15px 0;">
    <app-tab-header style="display: flex; justify-content: space-between; flex-wrap: wrap;">
      <div class="control">
        <app-tab-menu label="Listar" icon="list" target="read"></app-tab-menu>
        <app-tab-menu label="Incluir" icon="create" target="create"></app-tab-menu>
        <app-tab-menu label="Alterar" icon="change_circle" target="update"></app-tab-menu>
        <app-tab-menu label="Deletar" icon="delete" target="delete"></app-tab-menu>
      </div>

      <div *ngIf="tab === 'read'">
        <div *ngIf="!isMobile" class="control forms">
          <mat-form-field class="form" floatLabel="always" appearance="outline">
            <mat-select [(value)]="orderby" (selectionChange)="orderbyChange($event)" placeholder="Ordenar por">
              <mat-option [value]="option" *ngFor="let option of displayedColumns">{{option}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="form" floatLabel="always" appearance="outline">
            <mat-select [(value)]="filterByDays" placeholder="Ultimos 7 dias"
              (selectionChange)="filterByDaysChange($event)">
              <mat-option value="7">Ultimos 7 dias</mat-option>
              <mat-option value="15">Ultimos 15 dias</mat-option>
              <mat-option value="30">Ultimos 30 dias</mat-option>
              <mat-option value="60">Ultimos 60 dias</mat-option>
              <mat-option value="todos">Todos dias</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="form" floatLabel="always" appearance="outline">
            <mat-select [(value)]="inOutComing" (selectionChange)="inOutComingChange($event)"
              placeholder="Entradas/Saídas">
              <mat-option value="incoming">Entradas</mat-option>
              <mat-option value="outcoming">Saídas</mat-option>
              <mat-option value="all">Entrada/Saídas</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div *ngIf="isMobile">
          <button class="btn-classificar" type="button" mat-raised-button [matMenuTriggerFor]="menu">
            <span>Classificar</span>
          </button>
          <mat-menu #menu="matMenu">
            <div class="control mobile">
              <mat-form-field class="form" floatLabel="always" appearance="outline">
                <mat-select [(value)]="orderby" (selectionChange)="orderbyChange($event)" placeholder="Ordenar por">
                  <mat-option [value]="option" *ngFor="let option of displayedColumns">{{option}}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="form" floatLabel="always" appearance="outline">
                <mat-select [(value)]="filterByDays" placeholder="Ultimos 7 dias"
                  (selectionChange)="filterByDaysChange($event)">
                  <mat-option value="7">Ultimos 7 dias</mat-option>
                  <mat-option value="15">Ultimos 15 dias</mat-option>
                  <mat-option value="30">Ultimos 30 dias</mat-option>
                  <mat-option value="60">Ultimos 60 dias</mat-option>
                  <mat-option value="todos">Todos dias</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="form" floatLabel="always" appearance="outline">
                <mat-select [(value)]="inOutComing" (selectionChange)="inOutComingChange($event)"
                  placeholder="Entradas/Saídas">
                  <mat-option value="incoming">Entradas</mat-option>
                  <mat-option value="outcoming">Saídas</mat-option>
                  <mat-option value="all">Entrada/Saídas</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </mat-menu>
        </div>
      </div>

    </app-tab-header>

    <app-tab-content style="display: block; margin: 15px 0; height: 100%;">
      <div *ngIf="tab === 'read'" read>
        <ng-container *ngIf="ELEMENT_DATA.length > 0; else noneOfExtracts">
          <app-list-registers *ngFor="let item of ELEMENT_DATA" [item]="item" (send)="receivedPayload($event)">
          </app-list-registers>
        </ng-container>

        <ng-template #noneOfExtracts>
          <ng-container *ngFor="let i of [0,1,2,3,4,5,6,7]"><br></ng-container>
          <h2 class="welcome-subtitle">Não há registros</h2>
        </ng-template>
      </div>

      <mat-card *ngIf="tab === 'create'" class="create" create>
        <div class="form-group">
          <app-title title="Receita"></app-title>
          <app-form-incoming (send)="listeningEventForm($event)" type="incoming" label="Entrada" placeholder="R$ 0,00">
          </app-form-incoming>
        </div>
        <div class="form-group">
          <app-title title="Despesa"></app-title>
          <app-form-incoming (send)="listeningEventForm($event)" type="outcoming" label="Saída" placeholder="R$ 0,00">
          </app-form-incoming>
        </div>
      </mat-card>

      <div *ngIf="tab === 'update'" update>atualizar</div>

      <div *ngIf="tab === 'delete'" delete>deletar</div>
    </app-tab-content>
  </app-tabs>
</div>