$padding-size: 15px;

.dialog {
  height: 100%;
  .dialog-container.detail {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .header {
      width: 100%;
      display: flex;
      padding: 0 $padding-size;
    }
    .title {
      flex: 1;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .content-dialog {
      padding: $padding-size;
      flex: 1;
    }
    .container-footer {
      padding: $padding-size;
      display: flex;
      align-items: center;

      .container-tools {
        flex: 1;
        display: flex;
      }

      .date span{
        font-size: 12px;
      }
    }
  }
}
