<section class="home content" role="main">
  <div class="title">
    <h1>This is an App developered by Electron</h1>
  </div>
  <h5 class="text-center tile">(Light / Dark Mode)</h5>
  <div class="content-box">
    <div class="theme-switcher-wrap">
      <label class="theme-switcher">
        <div class="switch-path">
          <div class="switch-handle">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia doloremque cum cumque voluptatum
              doloribus animi repellat id non, possimus, consequatur excepturi necessitatibus eveniet provident illum.
              Perferendis consectetur debitis labore nemo.</p>
          </div>
        </div>
      </label>
    </div>
  </div>
</section>