<section class="home content" role="main">
  <div class="title">
    <h1>Página inicial de apresentação - onde será redirecionado para tela de login</h1>
  </div>
  <div class="wrapper">
    <div class="middle">
      
    </div>
    <div class="middle">
      <h3 class="display">Acesse sua conta!</h3>
      <div class="container-buttons">
        <button type="button" routerLink="/dashboard" color="primary" mat-raised-button>Dashboard</button>
        <button type="button" mat-raised-button>Login</button>
      </div>
    </div>
  </div>
</section>