<section class="home content" role="main">
  <!-- <div class="background-green"></div> -->
  <!-- <div class="title">
    <h1>
      Página inicial de apresentação - onde será redirecionado para tela de login
    </h1>
  </div> -->
  <div class="wrapper">
    <div class="middle">
      <!-- <img src="../../../assets/icon-default-green-512x512.svg" alt=""> -->
    </div>
    <div class="middle">
      <h3 class="display">Acesse sua conta!</h3>
      <div class="container-buttons">
        <button type="button" routerLink="/dashboard" color="primary" mat-raised-button>Dashboard</button>
        <button (click)="login()" type="button" mat-raised-button>Login</button>
      </div>
    </div>
  </div>
</section>