.dashboard {
  height: 100vh;

  .cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .container.mat-drawer-container {
    height: 100%;
  }
  .mat-drawer-content {
    display: flex;
  }
  .container {
    height: 100vh;
    .mat-drawer-container ::ng-deep .mat-drawer-inner-container {
      min-width: 75px;
    }
    .mat-drawer-side {
      border: none;
    }

    .app-menu-list {
      list-style: none;
      flex-direction: column;
      display: flex;
      justify-content: center;
      align-items: center;

      li:active,
      li:focus,
      li a:focus,
      li a:active {
        outline: none;
        border: none;
      }
      li {
        width: 100%;
        text-align: center;
        min-width: 200px;
        min-height: 64px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
        padding: 0 16px;
        overflow: hidden;
      }
      li a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
      }
      li span {
        font-size: 12px;
        white-space: nowrap;
        text-transform: uppercase;
        text-overflow: ellipsis;
        overflow: hidden;
        display: inline-block;
        max-width: 200px;
      }
    }
  }
  .pages {
    margin-top: 85px;
    padding: 0 15px 0 15px;
  }
  .sidebar {
    width: 200px;
  }
  .content-pages {
    flex: 1;
    overflow-x: hidden !important;
    position: relative;
    ::ng-deep mat-toolbar {
      // position: fixed;
      z-index: 99;
      // position: absolute;
      // top: 0;
      // left: 0;
    }
    .app-custom-toolbar-row {
      width: 100%;
      
      .prev-consolidado {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 150px;
        span {
          display: inline-block;
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
        }
      }
      .menu-toolbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1;
        .form {
          margin-left: 16px;
          mat-icon {
            font-size: 20px;
          }
        }
      }
      ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
        padding: 12px;
      }
      ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
        padding: 0;
      }
      ::ng-deep .mat-form-field-wrapper {
        padding-bottom: 0;
      }
      ::ng-deep .mat-form-field-infix {
        border-top: 0;
      }
      ::ng-deep .mat-input-element {
        font-size: 14px;
        height: 20px;
      }
    }
  }
}

@media (max-width: 768px) {
  .dashboard .cards {
    flex-direction: column;
  }
  .dashboard .sidebar {
    display: none;
  }
}
