.settings {
  height: 100vh;
  .card {
    margin: 8px 0;
  }
  .application {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .choose-mode {
    display: flex;
    justify-content: flex-end;
  }
}
