.settings {
  .card {
    margin: 8px 0;
  }
  .application {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .choose-mode {
    display: flex;
    justify-content: flex-end;
  }
}
