.dialog-confirm {
  .container-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    button {
      width: 100%;
      max-width: 180px;
    }
  }
}